
.env
.env.*
**/.env
**/.env.*

!.env.example
!**/.env.example


node_modules/
**/node_modules/


dist/
**/dist/

build/
**/build/

.vite/
**/.vite/

*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

coverage/
.nyc_output/


.cache/
**/.cache/

temp/
tmp/

.DS_Store
Thumbs.db

.vscode/
.idea/


*.swp
*.swo